.color-1 {
  /* background-color: #5680E9; */
  /* background-color: #84ceeb; */
  /* background-color: #5ab9ea; */
  /* background-color: #c1c8e4; */
  /* background-color: #8860d0; */

  background-color: #5D2E5F !important;

  color:white !important;

  /* color: #5D2E5F !important; */
}

/* // Funkar för att få footern längst ner, men då blir både header och footer väldigt höga */
/* .App {
  min-height: 100vh;
  display: grid;
}

.content {
  height: 100% !important;
} */

.home {
  background-image: url("../public/hand heart.png");
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 100vh;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.home-image {
  opacity: 0.7;
}

.hero-text {
  text-shadow: white 0 0 15px;
}

/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
} */

.tile {
  text-decoration: none !important;
  color: black !important;
  height: 100% !important;
  display: grid;
}

.tile-header:hover {
  /* color: black !important; */
  /* When hovering over the text, add underline */
  text-decoration: underline !important;
}

/* .organization-tile {
  justify-content: center;
  align-items: center;
} */

.organization-card {
  max-width: 900px;
  margin: auto;
}

.organization-logo {
  max-height: 200px;
}