.color-1 {
  /* background-color: #5680E9; */
  background-color: #84ceeb;
  /* background-color: #5ab9ea; */
  /* background-color: #c1c8e4; */
  /* background-color: #8860d0; */

  /* color:white !important; */
}

.tile {
  text-decoration: none !important;
  color: black !important;
}

.tile-header:hover {
  /* color: black !important; */
  /* When hovering over the text, add underline */
  text-decoration: underline !important;
}